
  .swiper {
    width: 100%;
    height: 100%;
    padding: 20px ;
    display: flex;
    align-items: stretch;
  }
  
  .swiper-slide {
    background: #fff;
    min-height: 300px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-device-width: 700px) {
    .swiper {
        padding: 10px
    }
  }
  